@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body {
    @apply text-gray-900 bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
